// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// List group
$list-group-active-bg: var(--bs-primary-bg-subtle);
$list-group-active-color: var(--bs-body-color);